# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Main
*.csv
*.std
!some.csv
*.svg
*.pdf
*.zip
*.fcstd
*.fcstd1

html/*
latex/*
file*
*.yy.cc
*~
Sim_site/Sim/migrations/*
*.pyc
settings.py
*.tab.*
*.output
lex.yy.c
