<html>
	<head>
		<title>SIM</title>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="style.css" >
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="signin.css">
	</head>
	<body>
	<nav class="navbar navbar-default navbar-fixed-top">
	    <div class="container">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#"><strong>Simulation</strong></a>
		    </div>
		    <ul class="nav navbar-nav" id="send-right">
			    <li class="active"><a href="#">Home</a></li>
			    <li><a href="#">Link 1</a></li>
			    <li><a href="#">Link 2</a></li>
		        <li><a href="#">Link 3</a></li> 
		    </ul>
	    </div>
	</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-md-offset-3" id="smallContainer" >
					<h3>Write your own SQL query. But beware, we know defensive 
					programming</h3><br>
					<div  >
						<form action = "{% url 'output' %}" method = "post">
							<p class="setAlign" >{% csrf_token %}
						    SELECT
						    </p> 
						    <input class="form-control"  type="text" name = "query1"></input> <br /><br />
							<p  >FROM</p> 
							<select id="tableName" name="option">
								{% for table in table_names %}
								<option value= {{table}}>{{table}}</option>
								{% endfor %}
							</select><br /><br />
							<input class="form-control" type="text" name = "query2"></input> <br />
							<input id="btnStyle" type = "submit" value = "Submit"></input>
						</form><hr id ="hrline" />								
					</div>
					<h3>See a whole table</h3><br>
					<form action="{% url 'table' %}" method="post">
						{% csrf_token %}
						<select  id="tableName" name="table">
							{% for table in table_names %}
							<option value= {{table}}>{{ table }}</option><br><br>
							{% endfor %}
						</select><br /><br />
						<input id="btnStyle" type = "submit" value = "Submit"></input><br />
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
