{% load static %}
<html>
<head>
	<title>Drawing FreeCad</title>
	<meta charset="utf-8" />
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" rel="stylesheet">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}" />
</head>

<body>
	<!-- navbar here -->
	<nav role="navigation" class="navbar">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
				<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand" id="brand" ><b>SIM</b></a>
		</div>
		<!-- Collection of nav links and other content for toggling -->
		<div id="navbarCollapse" class="collapse navbar-collapse">
				<ul class="nav navbar-nav" id="links" >
						<li><a href="{% url 'indexD' %}">Drawing-FreeCad</a></li>
						<li><a href="{% url 'view_home' %}">SIM</a></li>
						<li><a href="#">other</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right" id="links" >
						<li><a href="#">Login</a></li>
				</ul>
		</div>
	</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-md-offset-3" id="smallContainer" >
					<h3>Write your own SQL query. But beware, we know defensive
					programming</h3><br>
					<div  >
						<form action = "{% url 'output' %}" method = "post">
							<p class="setAlign" >{% csrf_token %}
						    SELECT
						    </p>
						    <input class="form-control"  type="text" name = "query1"></input> <br /><br />
							<p  >FROM</p>
							<select id="tableName" name="option">
								{% for table in table_names %}
								<option value= {{table}}>{{table}}</option>
								{% endfor %}
							</select><br /><br />
							<input class="form-control" type="text" name = "query2"></input> <br />
							<input id="btnStyle" type = "submit" value = "Submit"></input>
						</form><hr id ="hrline" />
					</div>
					<h3>See a whole table</h3><br>
					<form action="{% url 'table' %}" method="post">
						{% csrf_token %}
						<select  id="tableName" name="table">
							{% for table in table_names %}
							<option value= {{table}}>{{ table }}</option><br><br>
							{% endfor %}
						</select><br /><br />
						<input id="btnStyle" type = "submit" value = "Submit"></input><br />
					</form>
				</div>
			</div>
		</div>
</body>
</html>
