<!DOCTYPE html>
<html>
<head>
	<title>Sim sign up page</title>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css" >
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="signin.css">
	<link rel="stylesheet" type="text/css" href="css/signuppage.css">
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
	    <div class="container">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#"><strong>Simulation</strong></a>
		    </div>
		    <ul class="nav navbar-nav" id="send-right">
			    <li class="active"><a href="#">Home</a></li>
			    <li><a href="#">Link 1</a></li>
			    <li><a href="#">Link 2</a></li>
		        <li><a href="#">Link 3</a></li> 
		    </ul>
	    </div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5" id="smallContainer">
				<form class="form-register" id="new-member">
					<div>
						<p>E-mail</p>
						<input type="email" name="e-mail" class="form-control" placeholder="Enter your Email">
					</div>
					<div>
						<p>Password</p>
						<input type="password" name="password" class="form-control" placeholder="Enter your Password">
					</div>
					<button type="submit" class="register">Login</button>
				</form>
			</div>	
		</div>
	</div>
</body>
</html>