.all-links{
	font-family : sans-serif;
	font-size : 20px;
}
#main-content{
    margin-top:70px;
}
#send-right{
     float:right;   
}
#send-right li:hover{
    border-bottom:2px solid #E01C1F;
}
.bt{
	background-color:#4CAF50; 
    border: none;
    width:60%;
    padding-top: 8px ;
    padding-bottom: 5px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top:2px;
    border: 1px solid;
    border-color: #C0C0C0;
}
#all-links .bt:nth-child(even){
    background:white;
}
.bt:nth-child(odd){
    background:;
}
a{
	color:black;
}
h1{
	font-family:Helvetica Narrow, sans-serif;
	font-size:300%;
}
#buton{
	background-color:#C0C0C0; 
    border: none;
    width:60%;
    padding-top: 2px ;
    padding-bottom: 2px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top:2px;
}
.bt:hover{
	background-color:#DCDCDC;
}
/* Styles specifically for table.html file*/
tr:nth-child(even) {
    background-color : #f2f2f2;
}
th{
    text-align : left;
    background: #4CAF50;
}
th ,td{
    text-align : left;
    padding : 15px;
    border-bottom: 1px solid #ddd;
}

/*Styling input in index.html (Tamandeep)*/

/*#selctQuery{
    border-color: #191970;
    -webkit-transition: 0.5s;
    padding : 5px;
    width: 350px;
    background-color: #F8F8FF;
}*/
#tableName{
    background-color:#F8F8FF ;
    width: 350px;
    padding: 5px 5px 5px 5px; 
}

#smallContainer{
    background-color: #F8F8FF;
    margin-top: 2vh ;
    margin-left: 29vw;
}

#btnStyle{
    width: 100px;
    height: 35px ;
    background-color: #DC143C;
    display: inline-block;
    border-color: #DC143C;
    border: solid 2px #DC143C;
    transition-duration: 0.4s;
    font-size: 120% ;
    margin-left: 10px ;
}

#btnStyle:hover{

    transition-duration: 0.4s;
    color: white ;
}

#hrline{
    color:#808080;
    border-width: 2px;
}

/*.setAlign{
    margin-left: 2px;
    text-align: left;
}*/

