{% extends "drawing_freecad/base.html" %}
{% block body %}
<p style="font-size:160%;text-align:center;">Enter building specifications</p>


<div class="row">

    <form class="col s12" action="{% url 'specs' %}" method="POST">
        {% csrf_token %} 
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input id="stories" name="stories" type="number" value=6>
                <label for="stories">Stories</label>
            </div>
                <i class="tiny material-icons tooltipped" style="margin-top: 30px;" data-position="right" data-delay="50" data-tooltip="Enter the number of stories">info_outline</i>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input id="dep_of_foun" name="dep_of_foun" type="number" class="validate" value=6>
                <label for="dep_of_foun">Depth of foundation</label>
            </div>
            <i class="tiny material-icons tooltipped" style="margin-top: 30px;" data-position="right" data-delay="50" data-tooltip="Enter the length of foundation">info_outline</i>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input id="plinth_lev" name="plinth_lev" type="number" class="validate" value=4>
                <label for="plinth_lev">Plinth level</label>
            </div>
            <i class="tiny material-icons tooltipped" style="margin-top: 30px;" data-position="right" data-delay="50" data-tooltip="Enter the plinth level">info_outline</i>
        </div>

        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input id="cclear_height" name="cclear_height" type="text" pattern="[0-9,@,+]+" class="validate" value=6@8>
                <label for="cclear_height" data-error="wrong">Clear height</label>
            </div>
            <i class="tiny material-icons tooltipped" style="margin-top: 30px;" data-position="right" data-delay="50" data-tooltip="Clear height means height between two stories">info_outline</i>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input id="dep_slab" name="dep_slab" type="number" class="validate" value=1>
                <label for="dep_slab">Depth of slab</label>
            </div>
            <i class="tiny material-icons tooltipped" style="margin-top: 30px;" data-position="right" data-delay="50" data-tooltip="Enter the depth of slab">info_outline</i>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input id="rep_span_len" name="rep_span_len" type="text" pattern="[0-9,@,+]+" class="validate" value="6@8">
                <label for="rep_span_len" data-error="wrong">Representaion of span length</label>
            </div>
            <i class="tiny material-icons tooltipped" style="margin-top: 30px;" data-position="right" data-delay="50" data-tooltip="Number of beams in x axis">info_outline</i>
        </div>

        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input id="rep_span_wid" name="rep_span_wid" type="text" pattern="[0-9,@,+]+" class="validate" value="5@6">
                <label for="rep_span_wid" data-error="wrong">Representation of span width</label>
            </div>
            <i class="tiny material-icons tooltipped" style="margin-top: 30px;" data-position="right" data-delay="50" data-tooltip="Number of beams in y axis">info_outline</i>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <select id="col_type" name="col_type">
                    <option value="" disabled selected>Column type</option>
                    <option value=0>Circular</option>
                    <option value=1 selected>Rectangular</option>
                </select>
                <label>Column type</label>
            </div>
            <i class="tiny material-icons tooltipped" style="margin-top: 30px;" data-position="right" data-delay="50" data-tooltip="Select the column type">info_outline</i>
        </div>

        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input id="len_col" name="len_col" type="number" class="validate" value=1>
                <label for="len_col">Length of column</label>
            </div>
            <i class="tiny material-icons tooltipped" style="margin-top: 30px;" data-position="right" data-delay="50" data-tooltip="Enter the length of the column">info_outline</i>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input id="wid_col" name="wid_col" type="number" class="validate" value=1>
                <label for="wid_col">Width of column</label>
            </div>
            <i class="tiny material-icons tooltipped" style="margin-top: 30px;" data-position="right" data-delay="50" data-tooltip="Enter the width of the column">info_outline</i>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input id="radius_col" name="radius_col" type="number" class="validate" disabled>
                <label for="radius_col">Radius of column</label>
            </div>
            <i class="tiny material-icons tooltipped" style="margin-top: 30px;" data-position="right" data-delay="50" data-tooltip="Enter the radius of the column">info_outline</i>
        </div>


<script>                                                                
var update_col_type = function () {                                        
    if ($("#col_type").val()==0) {                                    
        $("#radius_col").prop('disabled', false);                            
        $("#len_col").prop('disabled', true);
        $("#wid_col").prop('disabled', true);    
        //$("#len_col").val(0);
        //$("#wid_col").val(0);
        }
    else {                                                              
        $("#len_col").prop('disabled', false);
        $("#wid_col").prop('disabled', false);
        $("#radius_col").prop('disabled',true);
    }
};
$("#col_type").change(update_col_type);
</script>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input id="dep_beam" name="dep_beam" type="number" class="validate" value=1>
                <label for="dep_beam">Depth of beam</label>
            </div>
            <i class="tiny material-icons tooltipped" style="margin-top: 30px;" data-position="right" data-delay="50" data-tooltip="Enter the depth of beam">info_outline</i>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input id="wid_beam" name="wid_beam" type="number" class="validate" value=1>
                <label for="wid_beam">Width of beam</label>
            </div>
            <i class="tiny material-icons tooltipped" style="margin-top: 30px;" data-position="right" data-delay="50" data-tooltip="Enter the width of the beam">info_outline</i>
        </div>
        <!--<a href="#"  id="autofill">Autofill values</a></td>-->
<center>        
<div class="">
         <button class="btn waves-effect waves-light red" style="width
:15%;" type="submit">Submit</button>
    </div>
</center>
</div>

<script>
// var toValidate = $('#stories'),
//        valid = false;
//    toValidate.keyup(function () {
//        if ($(this).val().length > 0) {
//            $(this).data('valid', true);
//        } else {
//            $(this).data('valid', false);
//        }
//        toValidate.each(function () {
//            if ($(this).data('valid') == true) {
//                valid = true;
//            } else {
//                valid = false;
//            }
//        });
//        if (valid === true) {
//            $('input[type=submit]').prop('disabled', false);
//        }else{
//            $('input[type=submit]').prop('disabled', true);        
//        }
//    });
//

$("#autofill").on("click", function(){
    $("#stories").val("8");           
    $("#dep_of_foun").val("6");          
    $("#plinth_lev").val("4");       
    $("#cclear_height").val("8@10");          
    $("#dep_slab").val("1");                 
    $("#rep_span_len").val("6@8");           
    $("#rep_span_wid").val("5@8");          
    //$("#col_type").val("1");       
    //$("#len_col").val("1");          
    //$("#wid_col").val("1");   
   // $("radius_col").value="1";       
    $("#dep_beam").val("1");          
    $("#wid_beam").val("1");                   
    $("#stories, #dep_of_foun, #plinth_lev, #cclear_height, #dep_slab, #rep_span_len, #rep_span_wid, #dep_beam, #wid_beam").change();
}); 

    </script>

   </form>
  </div>
  {% endblock %} 
