{% extends "drawing_freecad/base.html" %}                               
{% block body %}  

<p style="font-size:160%;text-align:center;">Building specifications</p>

<center>
<table class="highlight" style="width:70%;">
        <thead>
          <tr>
              <th data-field="id">Attribute</th>
              <th data-field="name">Dimensions in metre</th>
          </tr>
        </thead>
        <tbody>
            {% for key, value in list_pass2template.items %}
                <tr>
                    <td>{{ value.0 }}</td>
                    <td>{{ value.1 }}<td>
                </tr>
        {% endfor %}
        </tbody>
</table>
</center>

<div class="row">
        <center>
            <a class="btn waves-effect waves-light red" href="{% url 'download' %}" style="margin:2%;">Download</a>
            <a class="btn waves-effect waves-light red" href="{% url 'convert_fcstd2webgl' %}" target=blank>View 3D model</a>
        </center>
</div>
<!--
<form action="{% url 'drawing' %}" method="POST">
    {% csrf_token %} 
    <table>
        <tr>
            <td> Direction w.r.t x-axis  </td>
            <td> <input type="number" name="x_dir"> </td>
        </tr>
        <tr>
            <td> Direction w.r.t y-axis </td>
            <td> <input type="number" name="y_dir" > </td>
        </tr>
        <tr>
            <td> Direction w.r.t z-axis </td>
            <td> <input type="number" name="z_dir" > </td>
        </tr>
        <tr>
            <td> Hidden line </td>
            <td> <input type="radio" name="hid_lines" value=5 /> Show
                <input type="radio" name="hid_lines" value=6 /> Hide </td>
        </tr>
        <tr>
            <td> Scale Size </td>
            <td> <input type="number" name="scale_size"> </td>
        </tr>
        <tr> 
            <td> Rotation  </td>
            <td> <input type="text" name="rotation"></td>
        </tr>
        <tr>
            <td></td>
            <td> <input type="submit" value="submit" id="submit"> </td>
        </tr>
    </table>
</form>-->
 {% endblock %} 
