<!--
***********************************************************************
*                                                                     *
*   File:                                                             *
*       specs.html                                                     *
*                                                                     *
*   Author:                                                           *
*      Amritpal Singh <amrit3701@gmail.com>                           *
*                                                                     *
*   Brief:                                                            *
*      This program file require for Django template.                 *
*                                                                     *
***********************************************************************
-->

{% extends "drawing_freecad/base.html" %}
{% block body %}
    <p style="font-size:160%;text-align:center;">Building specifications</p>

    <center>
        <table class="highlight" style="width:70%;">
            <thead>
                <tr>
                    <th data-field="id">Attribute</th>
                    <th data-field="name">Dimensions in metre</th>
                </tr>
            </thead>
            <tbody>
            {% for key, value in list_pass2template.items %}
            <tr>
                <td>{{ value.0 }}</td>
                <td>{{ value.1 }}<td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </center>

            <div class="row">
                <center>
                    <a class="btn waves-effect waves-light red" href="{% url 'download' %}" style="margin:2%;">Download</a>
                    <a class="btn waves-effect waves-light red" href="{% url 'convert_fcstd2webgl' %}" target=blank>View 3D model</a>
                </center>
            </div>

            </body>
            </html>
{% endblock %}
